.page {
    page-break-after: always;

    &:last-child {
        page-break-after: auto;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }


}
