@import "_importants";
@import "_previewContent";
html, body, main, .contentWrapper {
    height: 100vh;
}
body {
    margin: 0;
    padding: 0;
}

.mainContainer {
    height: calc(~'100% - 80px');
    display: flex;
    .content {
        //display: inline-block;
        //width: 50%;
        //vertical-align: top;
    }

    .inputContent {
        flex: 1;
    }


}

.editButtons {

}


footer {
    position: absolute;
    bottom: 0;
}
